.new-demo-form {
  padding-top: 65px;
}

.font24 {
  font-size: 24px;
}

#npi-confrim {
  color: red;
}

.center {
  text-align: center;
}

.sign-in-form {
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.npi-search-bar {
  display: none;
}
