.new-demo-form {
  padding-top: 65px;
}

.font24 {
  font-size: 24px;
}

#npi-confrim {
  color: red;
}

.center {
  text-align: center;
}

.sign-in-form {
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.npi-search-bar {
  display: none;
}

.create-attendant-btn {
  margin-top: 1.7em;
}

.karla {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.libre {
  font-family: 'Libre Baskerville', serif;
}

#sign-in-header {
  margin-left: 0.8em;
}

.all-search-results {
  display: none;
}
